/* table, th, td{
    border: 1px solid black;
}
th, td{
    padding: 10px;
} */

#btnEdit{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
#deleteBtn{
    background-color: red;
    color: white;
    padding: 5px;
    
}

input.ng-required {
    border: 1px solid red;
  }