<!-- <h1>Ip camera Works</h1>


<div class="videoLive" style="border: 5px solid black; width: 710px; padding-right: 20px; left: 40px; position: relative;" *ngIf="showCamera">

    <img src="http://192.168.1.4:8080/video" width="700" height="500" crossorigin="anonymous" >

</div>


<div class="button" style="position: relative; top: 100px;">
<button (click)="onCamera()" >On Camera</button>&nbsp;

<button (click)="offCamera()">Off Camera</button>

</div> -->

<!-- <select  [(ngModel)]="getValue">
    <option >Select Value</option>
    <option value="5" label="5"></option>
    <option value="2.5" label="2.5"></option>
    <option value="10" label="10"></option>
    <option value="15" label="15"></option>
</select>

<div *ngIf="getValue == 5">
<h1>Vijay</h1>
</div>

<div *ngIf="getValue == 2.5">
<h1>Surya</h1>
</div>

<div *ngIf="getValue == 10">

<h1>Karthik</h1>
</div>

<div *ngIf="getValue == 15">
<h1>Satheesh</h1>
</div>



<span *ngIf="likeButtonCon">{{likeCount}}</span>

<span *ngIf="!likeButtonCon">{{likeCount}}</span>

<button (click)="like()" *ngIf="likeButtonCon">Like</button>

<button (click)="unLike()" *ngIf="!likeButtonCon">UnLike</button> -->
<!-- 
{{myArray?.aNumber >=2 ? (myArray?.aNumber + ' ' + 'items') : myArray?.aNumber + "item"}} -->
